/* NAVBAR */
.navbar {
    height: 72px;
    padding: 0 3rem 0 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    display:flex;
    align-items:center;
    gap:.35rem;
    font-size:2rem;
    font-weight:700;
    color:var(--primary);
    text-shadow:
        0 0 18px rgba(91,76,240,.18);
    transition:.3s;
}
.logo:hover{
    transform:scale(1.02);
}
.logo svg {
    margin-right: -12px;
}
.nav-links{
    display:flex;
    align-items:center;
    gap:0.5rem;

}
.nav-links a{
    display:flex;
    align-items:center;
    gap:.55rem;
    padding:.7rem 1.15rem;
    border-radius:14px;
    background:rgba(255,255,255,.75);
    border:1px solid #e5e7eb;
    color:var(--text);
    font-weight:600;
    transition:.3s;
}
.nav-links a *{
    pointer-events:none;
}
.nav-links a:hover{
    color:var(--primary);
    transform:translateY(-2px);
    border-color:rgba(91,76,240,.35);
    box-shadow:
        0 8px 20px rgba(91,76,240,.15);
}

/* WELCOME*/
.welcome {
    min-height: calc(100vh - 195px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    background:#d7dff7;
    width:100%;
    max-width:1400px;
    margin:auto;
}
.welcome h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}
.welcome p {
    font-size: 1.1rem;
    color: #6b7280;
    max-width: 600px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
    line-height: 1.6;
}
.welcome a{
    position:relative;
    z-index:2;
    display:flex;
    justify-content:center;
}
.welcome button{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:.8rem;
    padding:1rem 2.8rem;
    border:none;
    border-radius:18px;
    background:#6e25d4;

    color:white;
    font-size:1.1rem;
    font-weight:600;
    cursor:pointer;
    box-shadow:
        0 15px 35px rgba(91,76,240,.35);
    transition:.35s;
}

.welcome button:hover{
    transform:translateY(-5px);
    box-shadow:
        0 20px 45px rgba(91,76,240,.50);
}
.welcome h1,
.welcome p{
    cursor:default;
}
/* HERO ICONS */
.hero-icons{
    position:absolute;
    inset:0;
    pointer-events:none;
}
.hero-icons .icon{
    position:absolute;
    color:#473ad1;
    opacity:.45;
    filter:drop-shadow(
        0 0 28px rgba(91,76,240,.55)
    );
    transition:.3s;
}

.glow{
    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    z-index:0;
}
.glow1{
    width:320px;
    height:320px;
    background:rgba(91,76,240,.22);
    top:-60px;
    left:120px;
}
.glow2{
    width:280px;
    height:280px;
    background:rgba(91,76,240,.18);
    right:180px;
    bottom:70px;
}

.glow3{
    width:180px;
    height:180px;
    background:white;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.html{
    top:7%;
    left:18%;
    font-size:84px;
    animation:float1 5.5s ease-in-out infinite;
}

.laptop{
    top:2%;
    left:50%;
    margin-left:-29px;
    font-size:58px;
    animation:float2 6.5s ease-in-out infinite;
}

.css{
    top:8%;
    right:18%;
    font-size:82px;
    animation:float3 6.7s ease-in-out infinite;
}

.code{
    top:50%;
    left:10%;
    font-size:72px;
    animation:float4 5.8s ease-in-out infinite;
}

.trophy{
    top:48%;
    right:10%;
    font-size:72px;
    animation:float2 7s ease-in-out infinite;
}

.js{
    bottom:24%;
    left:18%;
    font-size:82px;
    animation:float3 7.5s ease-in-out infinite;
}

.brain{
    bottom:6%;
    left:50%;
    margin-left:-34px;
    font-size:68px;
    animation:float1 8s ease-in-out infinite;
}

.react{
    bottom:20%;
    right:18%;
    font-size:84px;
    animation:float4 6.2s ease-in-out infinite;
}

@keyframes float1{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-14px);
    }

}

@keyframes float2{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(10px);
    }

}

@keyframes float3{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-8px);
    }

}

@keyframes float4{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(16px);
    }

}
/*FOOTER*/
.footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e7eb;
    background: white;
    color: #6b7280;
    margin-top: 2rem;
}
.footer,
.footer *{
    cursor:default;
}
/* CATEGORIES*/
.categories-page{
    position:relative;
    overflow:hidden;
    min-height:calc(100vh - 140px);
    padding:4rem 2rem;
    background:#d7dff7;
}
.categories-header{
    text-align:center;
    margin-bottom:4rem;
    position:relative;
    z-index:2;
}
.categories-header h1{
    font-size:3rem;
    margin-bottom:1rem;
}
.categories-header p{
    color:#64748b;
    font-size:1.1rem;
}
.categories-slider{
    overflow-x:auto;
    overflow-y:hidden;
    scroll-behavior:smooth;
    padding-bottom:1rem;
    margin-top:3rem;
}
.categories-slider::-webkit-scrollbar{
    display:none;
}
.categories-grid{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    gap:2rem;
    width:max-content;
}
.category-card{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;

    width:240px;
    min-height:350px;

    padding:2rem 1.8rem;

    flex-shrink:0;

    border-radius:28px;

    background:rgba(255,255,255,.18);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.35);

    box-shadow:0 20px 40px rgba(91,76,240,.12);

    transition:
        transform .3s,
        box-shadow .3s;

    overflow:hidden;
}
.category-card:hover{
    transform:
        translateY(-8px);
    box-shadow:
        0 18px 40px rgba(91,76,240,.15);
}
.category-top{
    margin-bottom:1.5rem;
}
.category-icon{
    width:92px;
    height:92px;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;

    border-radius:50%;

    background:white;

    color:#6E25D4;

    font-size:3.1rem;

    box-shadow:
        0 12px 30px rgba(91,76,240,.18);

    transition:.35s;
}

.category-card:hover .category-icon{
    transform:scale(1.08) rotate(-6deg);
    box-shadow:
        0 18px 40px rgba(91,76,240,.28);
}
.category-card h2{
    font-size:1.8rem;
    font-weight:700;
    text-align:center;
    line-height:1.2;
    min-height:58px;  
    margin:1rem 0 .5rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
.category-tag{
    color:#6b7280;
    font-size:.95rem;
    margin-bottom:1rem;
}
.category-divider{
    width:70%;
    height:1px;
    background:rgba(91,76,240,.15);
    margin:1rem 0;
}
.category-card p{
    color:#6b7280;
    margin-bottom:1rem;
}
.category-btn{
    width:100%;
    padding:1rem;

    margin-top:auto;

    border:none;
    border-radius:14px;

    background:linear-gradient(135deg,#6e25d4,#5B4CF0);

    color:#fff;
    font-size:1rem;
    font-weight:600;
}
.category-btn:hover{
    transform:translateY(-3px);
    box-shadow:
        0 20px 40px rgba(91,76,240,.35);
}

/* QUIZ */
.quiz-wrapper{
    position:relative;
    min-height:calc(100vh - 170px);
    overflow:hidden;
}
.quiz-page{
    max-width:800px;
    margin:4rem auto;
    padding:2rem;
}

.quiz-icons{
    position:absolute;
    inset:0;

    pointer-events:none;
}

.quiz-container{
    position:relative;
    z-index:2;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.35);
    border-radius:28px;
    padding:2.5rem;
}
.quiz-icons .bg-icon{
    position:absolute;
    color:#6e25d4;
    opacity:.03;
    z-index:0;
    transition:transform .5s;
}

.quiz-icons .html-bg{
    top:90px;
    left:90px;
    font-size:4.5rem;
}

.quiz-icons .css-bg{
    top:120px;
    right:110px;
    font-size:4rem;
}

.quiz-icons .js-bg{
    left:80px;
    bottom:130px;
    font-size:3.8rem;
}

.quiz-icons .react-bg{
    right:120px;
    bottom:120px;
    font-size:4rem;
}

.quiz-icons .code-bg{
    left:90px;
    top:48%;
    font-size:3.6rem;
}

.quiz-icons .brain-bg{
    right:100px;
    top:48%;
    font-size:3.5rem;
}
.quiz-glow{
    position:absolute;

    border-radius:50%;

    filter:blur(130px);

    z-index:-1;
}

.quiz-glow.glow-left{
    width:420px;
    height:420px;

    top:180px;
    left:-180px;

    background:rgba(120,104,255,.18);
}

.quiz-glow.glow-right{
    width:350px;
    height:350px;

    right:-140px;
    bottom:80px;

    background:rgba(91,76,240,.15);
}

.quiz-page h1 {
    margin-bottom: 1rem;
}

.quiz-page h2 {
    color: #6b7280;
    margin-bottom: 2rem;
}

.quiz-page h3 {
    margin-bottom: 2rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option {
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    transition: .3s;
    text-align: left;
}

.option:hover{
    border-color:var(--primary);
    box-shadow:
        0 0 20px rgba(91,76,240,.18);

    transform:translateX(5px);
}
.option.selected{
    background:var(--primary);
    color:white;
    box-shadow:
        0 0 25px rgba(91,76,240,.35);
}

.next-btn {
    margin-top: 2rem;
    padding: .9rem 2rem;
    border: none;
    border-radius: 10px;
    background: #4f46e5;
    color: white;
    cursor: pointer;
}

.next-btn:hover {
    background: #4338ca;
}
/*RESULT PAGE*/
.result-page{
    position:relative;
    min-height:calc(100vh - 180px);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:3rem;
    overflow:hidden;
}
.result-card{
    width:520px;
    min-width:520px;
    padding:2rem;
    text-align:center;
    border-radius:30px;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(20px);
    border:1px solid rgba(255,255,255,.35);
    box-shadow:
        0 20px 50px rgba(91,76,240,.18);
    position:relative;
    z-index:2;
}
.result-category{
    color:#64748B;
    margin-bottom:2rem;
}
.score-panel{
    width:100%;
    max-width:420px;
    margin:2rem auto 2.5rem;
    padding:2rem;
    border-radius:24px;
    background:rgba(255,255,255,.28);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.45);
    box-shadow:
        0 20px 45px rgba(91,76,240,.15);
}
.score-panel h2{
    font-size:3rem;
    color:#5B4CF0;
}
.score-panel span{
    font-size:1.5rem;
    font-weight:700;
}
.score-percent{
    font-size:4rem;
    font-weight:700;
    color:#5b4cf0;
    margin-bottom:.3rem;
}

.score-value{
    display:block;

    font-size:1.5rem;
    font-weight:600;

    color:#1f2937;

    margin-bottom:1rem;
}

.feedback-title{
    font-size:2rem;
    font-weight:700;
    color:#5b4cf0;
    line-height:1.3;
}
.result-stats{
    display:flex;
    justify-content:space-between;
    gap:1rem;
    margin:3rem 0;
}

.stat-box{
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:1.5rem;
    min-height: 170px;
    border-radius:20px;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.35);
}
.stat-box h3{
    font-size:2rem;
    margin-bottom:.6rem;
}
.stat-box span{
    color:#64748B;
}
.stat-box strong{
    margin-top:.5rem;
    font-size:2rem;
    color:#5B4CF0;
}
.result-buttons{
    display:flex;
    justify-content:center;
    gap:1rem;
    flex-wrap:wrap;
}
.result-buttons button{
    min-width:160px;
    padding:1rem;
    border:none;
    border-radius:14px;
    background:#5B4CF0;
    color:white;
    font-weight:600;
    transition:.3s;
}
.result-buttons button:hover{
    transform:translateY(-4px);
}
.glass-btn{
    background:rgba(255,255,255,.28) !important;
    color:#1F2937 !important;
    border:1px solid rgba(255,255,255,.35);
}
.result-glow{
    position:absolute;
    width:300px;
    height:300px;
    border-radius:50%;
    filter:blur(120px);
    background:rgba(91,76,240,.18);
}
.glow-left{
    left:-100px;
    top:20%;
}
.glow-right{
    right:-100px;
    bottom:10%;
}
/*LEADERBOARD*/
.leaderboard-wrapper{
    position:relative;
    min-height:calc(100vh - 170px);
    overflow:hidden;
}

/* Glass Card */
.leaderboard-page{
    position:relative;
    z-index:2;
    max-width:1000px;
    margin:3rem auto;
    padding:2rem;
    background:rgba(255,255,255,.18);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.35);
    border-radius:24px;
    box-shadow:
        0 18px 50px rgba(91,76,240,.12);
    text-align:center;
}
/* Heading */
.leaderboard-page h1{
    font-size:2.6rem;
    margin-bottom:2rem;
}

/*TABLE*/

table{
    width:100%;
    border-collapse:separate;
    border-spacing:0;
    overflow:hidden;
    border-radius:18px;
    margin-bottom:2rem;
}
thead{
    background:
    linear-gradient(135deg,#6e25d4,#5B4CF0);
}
thead th{
    color:white;
    padding:18px;
    font-weight:600;
    font-size:1rem;
}
thead th:first-child{
    border-top-left-radius:18px;

}
thead th:last-child{
    border-top-right-radius:18px;
}
/*ROWS*/
tbody tr{
    background:
    rgba(255,255,255,.58);
    transition:.25s ease;
}
tbody td{
    padding:18px;
    font-size:1rem;
}
/* Purple separators */
table,
th,
td{
    border:none;
}
thead th:not(:last-child){
    border-right:
    2px solid rgba(255,255,255,.25);
}
tbody td:not(:last-child){
    border-right:
    2px solid rgba(111,90,255,.12);
}
tbody tr:not(:last-child) td{

    border-bottom:
    2px solid rgba(111,90,255,.12);
}

/*TOP 3 ROWS*/
tbody tr:nth-child(1){
    background:
    rgba(255, 217, 0, 0.386);
}
tbody tr:nth-child(2){
    background:
    rgba(192, 192, 192, 0.386);
}

tbody tr:nth-child(3){
    background:
    rgba(205, 128, 50, 0.386);
}

/*CLEAR BUTTON*/
.clear-btn{
    padding:14px 28px;
    border:none;
    border-radius:12px;
    background:
    linear-gradient(135deg,#6e25d4,#5B4CF0);
    color:white;
    font-weight:600;
    cursor:pointer;
    box-shadow:
        0 12px 30px rgba(91,76,240,.25);
    transition:.3s;
}
.clear-btn:hover{
    transform:translateY(-2px);
    box-shadow:
        0 16px 40px rgba(91,76,240,.35);
}

/*BACKGROUND ICONS*/
.leaderboard-icons{
    position:absolute;
    inset:0;
    pointer-events:none;
}
.leaderboard-icons .bg-icon{
    position:absolute;
    color:#6e25d4;
    opacity:0.4;
    z-index:0;
}
/* Top */
.leaderboard-icons .html-bg{
    top:70px;
    left:70px;
    font-size:4.5rem;
}
.leaderboard-icons .css-bg{
    top:70px;
    right:70px;
    font-size:4.5rem;
}
/* Middle */
.leaderboard-icons .code-bg{
    left:40px;
    top:48%;
    font-size:4rem;
}
.leaderboard-icons .trophy-bg{
    right:40px;
    top:48%;
    font-size:4rem;
}
/* Bottom */
.leaderboard-icons .js-bg{
    bottom:80px;
    left:80px;
    font-size:4rem;
}
.leaderboard-icons .react-bg{
    bottom:80px;
    right:80px;
    font-size:4rem;
}
.leaderboard-icons .brain-bg{
    left:50%;
    bottom:35px;
    transform:translateX(-50%);
    font-size:4rem;
}
/*GLOWS*/
.leaderboard-glow{
    position:absolute;
    border-radius:50%;
    filter:blur(140px);
    z-index:-1;
}
.leaderboard-glow.glow-left{
    width:420px;
    height:420px;
    left:-180px;
    top:200px;
    background:
    rgba(111,90,255,.18);
}
.leaderboard-glow.glow-right{
    width:350px;
    height:350px;

    right:-120px;
    bottom:120px;

    background:
    rgba(91,76,240,.15);
}
/* CLEAR LEADERBOARD */
.clear-btn {
    display: block;
    margin: 2rem auto;
    padding: 0.9rem 2rem;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: .3s;
}
.clear-btn:hover {
    background: #dc2626;
}

/* PROGRESS BAR */
.progress-bar{
    width:100%;
    height:12px;
    background:rgba(255,255,255,.55);
    border-radius:999px;
    overflow:hidden;
    margin-top:1rem;
}
.progress-fill{
    height:100%;
    border-radius:999px;
    background:linear-gradient(
        90deg,
        #5b4cf0,
        #7868ff
    );
    transition:width .35s ease;
    box-shadow:0 0 12px rgba(91,76,240,.45);
}
.progress-text{
    margin-top:.7rem;
    text-align:right;
    font-size:.95rem;
    font-weight:600;
    color:#64748b;
}
.quiz-page h3 {
    color: var(--primary);
    margin-bottom: 1rem;
}

/* MODAL */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    width: 400px;
    background: var(--surface);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: var(--shadow);
    text-align: center;
}

.modal h2 {
    margin-bottom: 1rem;
}

.modal p {
    color: var(--text-light);
    margin-bottom: 1.5rem;
}

.modal input {
    width: 100%;
    padding: .9rem;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin-bottom: 1.5rem;
    font-size: 1rem;
}

.modal-buttons{
    display:flex;
    justify-content:center;
    gap:1rem;
    margin-top:1.5rem;
}
button *{
    pointer-events:none;
}
.cancel-btn,
.start-btn {
    flex: 1;
    padding: .9rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cancel-btn {
    background: #e5e7eb;
}

.start-btn {
    background: var(--primary);
    color: white;
}

.start-btn:hover {
    background: var(--primary-hover);
}

/* REVIEW */

.result-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.result-buttons button {
    margin-top: 0;
}

.review-section{
    flex:1;
    margin-left:2rem;
    max-height:750px;
    overflow-y:auto;
    padding-right:.5rem;
}
.review-section h2{
    margin-bottom:1.5rem;
    font-size:2rem;
    font-weight:700;
    color:#1f2937;
}
.review-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 1.5rem;
    box-shadow: var(--shadow);
}

.review-card h3 {
    margin-bottom: 1rem;
}

.review-card p {
    margin-bottom: .8rem;
    line-height: 1.6;
}

.correct-answer {
    color: #16a34a;
    font-weight: 600;
}

.wrong-answer {
    color: #dc2626;
    font-weight: 600;
}

/* ===========================
   STATS BAR
=========================== */

.stats-bar{

    width:700px;
    max-width:85%;

    margin:2rem auto 0;

    display:flex;
    justify-content:space-evenly;
    align-items:center;

    padding:1.8rem 2.5rem;

    border-radius:28px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,.35);

    box-shadow:
        0 20px 45px rgba(91,76,240,.15);

    position:relative;
    z-index:5;

}
.stats-bar,
.stat-item,
.stat-item *{
    cursor:default;
}
.stat-item{

    flex:1;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:1rem;

}

.stat-icon{
    width:80px;
    height:80px;

    border-radius:50%;
    background:white;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:2.5rem;

    box-shadow:0 10px 25px rgba(91,76,240,.15);

}

.stat-item h2{

    color:#5B4CF0;

    font-size:2rem;

    margin:0;

}

.stat-item p{

    margin-top:4px;

    color:#6b7280;

    font-size:1rem;

}

.divider{
    width:2px;
    height:80px;
    background:#d7cffd;
    opacity:.9;

}



/* ===========================
        FEATURES
=========================== */

.features{
    width:85%;
    max-width:1150px;
    margin:1.8rem auto 0;
    display:flex;
    justify-content:center;
    gap:1.8rem;

}
.feature-card{

    width:600px;
    height:180px;

    display:flex;
    align-items:center;
    gap:1.7rem;

    padding:2rem;

    border-radius:24px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.35);

    box-shadow:
        0 15px 35px rgba(91,76,240,.12);

    transition:.35s;

    position:relative;
    cursor:pointer;
    overflow:hidden;

}
.feature-card:hover{

    transform:translateY(-8px);

    border-color:rgba(91,76,240,.35);

    box-shadow:
        0 20px 45px rgba(91,76,240,.25);

}

.feature-circle{

    width:72px;
    height:72px;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:2rem;

    color:white;

    background:linear-gradient(
        135deg,
        #6C4CF5,
        #7E22CE
    );

    box-shadow:
        0 10px 25px rgba(108,76,245,.35);

    flex-shrink:0;

}
.feature-card h3{

    margin-bottom:.6rem;

    font-size:1.45rem;

    color:#1f2937;

}

.feature-card p{

    color:#6b7280;

    line-height:1.6;

}
.feature-arrow{

    position:absolute;

    right:22px;
    bottom:22px;

    width:46px;
    height:46px;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(255,255,255,.8);

    color:#5B4CF0;

    font-size:1.4rem;
    font-weight:700;

    box-shadow:
        0 6px 16px rgba(91,76,240,.2);

    transition:.3s;

}
.feature-card:hover .feature-arrow{

    background:#5B4CF0;

    color:white;

    transform:translateX(5px);

}
.category-icons{
    position:absolute;
    inset:0;
    pointer-events:none;
}
.bg-icon{
    position:absolute;
    opacity:.12;
    color:#5B4CF0;
    filter:drop-shadow(
        0 0 20px rgba(91,76,240,.3)
    );
}
/* Quiz background icons */

.quiz-icons .bg-icon{
    position:absolute;
    color:#6e25d4;
    opacity:0.2;
    pointer-events:none;
    z-index:0;
}

/* Top */

.quiz-icons .html-bg{
    top:55px;
    left:90px;
    font-size:4.5rem;
}

.quiz-icons .css-bg{
    top:55px;
    right:90px;
    font-size:4.5rem;
}

/* Middle */

.quiz-icons .code-bg{
    top:46%;
    left:40px;
    font-size:4rem;
}

.quiz-icons .trophy-bg{
    top:46%;
    right:40px;
    font-size:4rem;
}

/* Bottom */

.quiz-icons .js-bg{
    bottom:70px;
    left:90px;
    font-size:4rem;
}

.quiz-icons .brain-bg{
    bottom:35px;
    left:50%;
    transform:translateX(-50%);
    font-size:3.8rem;
}

.quiz-icons .react-bg{
    bottom:60px;
    right:90px;
    font-size:4rem;
}